.header-background{
    background-color: #ffffff;
    z-index: 10;
}

.logo{
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.header-flex-box{
    padding-right: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 120px;
    margin-right: 120px;
    font-size: 1rem;
}

.grow{
    flex-grow: 10
}